/* 
*** Colors and Fonts for Reference ***

Fonts:
font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

Colors:
Background - #FAF0CA - Lite Canvas
Background:2 -  #D6CDAD - Dark Canvas

Text - #231123 - Dark Brown

Dark Main - #0D3B66 -Dark Blue
Mid Main - #077187 - Mid Teal
Lite Main - #CCFBFE - Robin Blue
Highlight - #F4D35E - Yellow
Mid Highlight - #EE964B - Pale Orange
Dark Highlight - #F95738 - Bright Orange
Alt Color - #82204A - Red/Pink
*/

body {
  width: 960px;
  margin: 0 auto;
  color: #231123;
  background-color: #FAF0CA;
}

header {
  width: 100%;
  height: 175px;
  background-color: gray;
}

header img {
  float: left;
  /* display: inline-block; */
  max-width: 20%;
  margin: 10px auto;
}

#social {
  display: inline-block;
  margin-left: 70%;
}

#social li {
  display: inline-block;
  padding: 5px;
}

#nav {
  display: flex;
}

#nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

#nav li {
  padding: 5px 0;
}