/* 
*** Colors and Fonts for Reference ***
Fonts:
font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
Colors:
Background - #FAF0CA - Lite Canvas
Background:2 -  #D6CDAD - Dark Canvas
Text - #231123 - Dark Brown
Dark Main - #0D3B66 -Dark Blue
Mid Main - #077187 - Mid Teal
Lite Main - #CCFBFE - Robin Blue
Highlight - #F4D35E - Yellow
Mid Highlight - #EE964B - Pale Orange
Dark Highlight - #F95738 - Bright Orange
Alt Color - #82204A - Red/Pink
*/

/* Global */

body {
  width: 960px;
  margin: 0 auto;
  color: #231123;
  background-color: #FAF0CA;
}

a {
  text-decoration: none;
  color: #F95738;
}

a:hover {
  color: #EE964B;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Header */

header {
  width: 100%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 20px;
}

#logo {
  display: inline-block;
  width: 15%;
  margin-left: 44.2%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#social {
  float: right;
}

#social li {
  display: inline-block;
  padding: 10px;
}

#nav {
  display: flex;
  background-color: #D6CDAD;
}

#nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 0;
  color: #0D3B66;
}

#nav li:hover {
  color: #077187;
  cursor: pointer;
}

#announcementBar {
  text-align: center;
  /* background-color: #CCFBFE; */
  padding: 10px;
}

#announcementBar h2 {
  font-size: xx-large;
  font-family: 'Ubuntu', sans-serif;
  color: #82204A;
  animation-name: scroll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  50% {
    opacity: .5;
    scale: 1.05;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

/* Main */

#main {
  display: block;
  width: 100%;
}

#aboutSection {
  /* placeholder */
}

#aboutUsTitle {
  font-size: x-large;
  font-family: 'Ubuntu', sans-serif;

  /* padding-top: 30px;
  padding-bottom: 30px;
  background-color: #D6CDAD; */
}

#aboutUsText {
  width: 35%;
  display: inline-block;
  font-size: large;
  padding-right: 100px;
  padding-top: 30px;
  padding-left: 80px;
  text-indent: 25px;
}

#cask {
  display: inline-block;
  width: 420px;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0px 100px 20px #D6CDAD;
}

#party {
  font-size: x-large;
  padding-top: 60px;
  color: #0D3B66;
  font-family: 'Ubuntu', sans-serif;
  animation-name: party;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: ease-out;
}

@keyframes party {
  0% {
    color: #077287;
    transform: rotate(-10deg);
  }
  25% {
    color: #07875c;
    transform: rotate(10deg);
  }
  50% {
    color: #EE964B;
    transform: rotate(-10deg);
  }
  75% {
    color: #F95738;
    transform: rotate(10deg);
  }
  100% {
    color: #077287;
    transform: rotate(-10deg);
  }
}

#haz1 {
  display: inline-block;
  width: 20%;
  margin:10px;
  margin-left: 50px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px #231123;
}
#haz1:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#haz2 {
  display: inline-block;
  width: 20%;
  margin:10px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px #231123;
}

#haz3 {
  display: inline-block;
  width: 20%;
margin:10px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px #231123;
}

#haz4 {
  display: inline-block;
  width: 20%;
margin:10px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px #231123;
}

#beerSection {
  display: flex;
  text-align: center;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}

#toggleSwitches {
  display: inline-block;
  width: 200px;
  height: fit-content;
  /* border: solid #82204A 3px; */
  border-radius: 15px;
  padding: 25px;
  margin-right: 20px;
}

#toggleSwitches label, h2{
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline-block;
}

#toggleSwitches input {
  display: inline-block;
  margin-bottom: 5px;

}
/* General Styling for the Beer Cards */

#beerSection {
  position: relative;
}

#toggleSwitches {
  position: fixed;
  top: 300px;
  right: 50px;
  /* display: fixed; */
}

#beerCardSection {
  display: block;
  width: 700px;
  height: fit-content;
  /* border: solid #82204A 3px; */
  border-radius: 15px;
  padding: 25px;
  margin-left: -4px;
  /* z-index: 3; */

}

#beerCardSection div {
  width: 25%;
  height: 50%;
  /* background-color:#EE964B ; */
  display: inline-block;
  margin: 15px;
  /* z-index: 3; */
  position: relative;
  border-radius: 25px;
  box-shadow: #231123 10px 10px 30px;
}

.backgroundImg {
  width: 50%;
  /* display: block; */
  left: 50px;
  bottom: 15%;
  filter: invert(100%);
  position: absolute;
  /* z-index: -1; */
  opacity: .3;
}

.Domestic .backgroundImg {
  width: 50%;
  /* display: block; */
  left: 50px;
  bottom: 15%;
  filter: invert(50%);
  position: absolute;
  /* z-index: -1; */
  opacity: .3;
}

  .saleImg {
    width: 45%;
    position: absolute;
    right: -20px;
    top: -15px;
   transform: rotate(90deg);
   animation-duration: 2s;
   animation-name: wiggle;
   animation-iteration-count: infinite;
       /* z-index: 3; */
  }

  @keyframes wiggle {
    0% {
      transform: rotate(95deg);
    } 
    50% {
      transform: rotate(85deg);
    }
    100% {
      transform: rotate(95deg);
    }
  }


  .beerCardTitle {
    /* display: block; */
    position: relative;
    /* z-index: 2; */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    padding: 10px;
    width: fit-content;
    left: 10%;
   }

  .beerCardType {
    display: block;
    position: relative;
    /* z-index: 2; */
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    width: fit-content;
    left: 20%;
  }

  .beerCardAbv {
    display: block;
    position: relative;
    /* z-index: 2; */
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    width: fit-content;
  left: 20%;
  }

  .beerCardhopType{
    display: block;
    position: relative;
    /* z-index: 2; */
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    width: fit-content;
  left: 20%;
  }

  .beerCardshortDescription {
    display: inline-block;
    position: relative;
    /* z-index: 2; */
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    width: fit-content;
  left: 5%;
  }

  .beerCardlongDescription {
  position: relative;
  /* z-index: 2; */
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 5px;
  opacity: 0;
  bottom: 1px;
  left: 5px;
  width: fit-content;
  display: none;
  /* transition: 1s; */
  }

/* Beer Card Specific CSS */


.IPA {
  background-color: #077187;
  color: #EE964B;
  z-index: 0;
}

.IPA:hover {
  transform: scale(1.6) ;
 background-color: #077287 ;
 color: #EE964B;
 z-index: 1;
transition: 500ms;
}

.IPA:hover h3 {
  opacity: 0;
  transition: 300ms;
}

.IPA:hover .beerCardlongDescription {
  display: block;
  transform: perspective();
  position: relative;
  opacity: 1.0;
  transform: translateY(-70px);
  transition: transform 2s ease;
/* transition: 300ms; */
}
.Pale.Ale {
  background-color: #231123;
  color: #D6CDAD;
  z-index: 0;
}

.Pale.Ale:hover {
  transform: scale(1.6) ;
  transition: 300ms;
  background-color: #231123;
  color: #D6CDAD;
  z-index: 1;
}

.Pale.Ale:hover h3 {
  opacity: 0;
  transition: 300ms;
}

.Pale.Ale:hover .beerCardlongDescription {
  display: block;
  transform: perspective();
  position: relative;
  opacity: 1.0;
  transform: translateY(-70px);
  transition: transform 2s ease;
/* transition: 300ms; */
}

.Porter {
  background-color: #82204A;
  color: #231123;
  z-index: 0;
}

.Porter:hover {
  transform: scale(1.6) ;
  transition: 300ms;
  background-color: #82204A;
  color: #231123;
  z-index: 1;

}


.Porter:hover h3 {
  opacity: 0;
  transition: 300ms;
}

.Porter:hover .beerCardlongDescription {
  display: block;
  transform: perspective();
  position: relative;
  opacity: 1.0;
  transform: translateY(-70px);
  transition: transform 2s ease;
/* transition: 300ms; */
}

.Hefeweizen {
  background-color: #EE964B;
  color: #82204A;
  z-index: 0;
}

.Hefeweizen:hover {
  transform: scale(1.5);
  transition: 300ms;
  background-color: #EE964B;
  color: #82204A;
  z-index: 1;

}


.Hefeweizen:hover h3 {
  opacity: 0;
  transition: 300ms;
}

.Hefeweizen:hover .beerCardlongDescription {
  display: block;
  transform: perspective();
  position: relative;
  opacity: 1.0;
  transform: translateY(-70px);
  transition: transform 2s ease;
/* transition: 300ms; */
}

.Domestic {
  background-color: #CCFBFE;
  color: #077187;
  z-index: 0;
}

.Domestic:hover {
  transform: scale(1.5);
  transition: 300ms;
  background-color: #CCFBFE;
  color: #077187;
    z-index: 1;
}


.Domestic:hover h3 {
  opacity: 0;
  transition: 300ms;
}

.Domestic:hover .beerCardlongDescription {
  display: block;
  transform: perspective();
  position: relative;
  opacity: 1.0;
  transform: translateY(-70px);
  transition: transform 2s ease;
/* transition: 300ms; */
}

.Stout {
  background-color: #0D3B66;
  color: #CCFBFE;
  z-index: 0;
}

.Stout:hover {
  transform: scale(1.5);
  transition: 300ms;
  background-color: #0D3B66;
  color: #CCFBFE;
    z-index: 1;
}


.Stout:hover h3 {
  opacity: 0;
  transition: 300ms;
}

.Stout:hover .beerCardlongDescription {
  display: block;
  transform: perspective();
  position: relative;
  opacity: 1.0;
  transform: translateY(-70px);
  transition: transform 2s ease;
/* transition: 300ms; */
}

#locationSection {
  /* placeholder */
}

#locationSection iframe {
  display: block;
  border: #D6CDAD solid 10px;
  width: 640px;
  height: 426.66px;
  margin: 0 auto;
}

#contactSection {
  /* placeholder */
}

#name {
  margin-left: 30.5px;
  border-radius: 7px;

}

#phone {
  /* margin-left: 159px; */
  border-radius: 7px;
  margin-top: 10px;
}

#email {
  margin-left: 4px;
  border-radius: 7px;
  margin-top: 10px;
}

#message {
  border-radius: 10px;
  margin-top: 10px;
}

#contactButton {
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 45%;
}

#contactButton:hover{
  background-color: rgb(104, 145, 182);
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


#contactimg {
  height: 200px;
  width: 300px;
  float: right;
  border-radius: 100%;
}

#contactSection label {
color: #82204A;
font-family: 'Open Sans Condensed', sans-serif;
font-size: large;
/* display: inline-block; */
}


/* Footer */

footer {
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#smallLogo {
  width: 25%;
  opacity: 0.5;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li{
  display: inline-block;
  width: 33.333%;
  text-align: center;
  margin-top: 45px;
}

#smallLogoContainer {
  margin-top: 0;
}

footer p {
  text-align: center;
}

#link {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

#link:hover {
  cursor: pointer;
}

/* Admin Page */

form {
  /* border: solid rgb(109, 41, 70) 3px; */
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
}

button {
  display: block;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #CCFBFE;
  color: #231123;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

#inventoryFormsContainer {
  display: flex;
  margin-bottom: 20px;
}

#beerInventoryForm {
  display: inline-block;
  width: 33.33%;
  line-height: 1.5;
  margin-right: 20px;
  max-height: 497px;
}

#beerInventoryForm input, select {
  float: right;
  border-radius: 7px;
}

#beerInventoryForm textarea {
  display: block;
  width: 90%;
  margin: 10px auto 0 auto;
  border-radius: 10px;
}

#beerInventoryForm button {
  margin: 0 auto;
  border-radius: 10px;
}

#beerInventoryForm button:hover {
  background-color: rgb(104, 145, 182);
  cursor: pointer;
}

#one, #two, #three, #four, #five, #six {
  margin-bottom: 2px;
}

#beerTypeInput {
  width: 131px;
  height: 19px;
  border-radius: 7px;
}

#inventoryTable {
  display: inline-block;
  width: 66.66%;
  border: solid #82204A 3px;
  border-radius: 15px;
  padding: 25px;
  max-width: 66.66%;
  max-height: 497px;
  overflow: scroll;
}

table {
  width: 100%;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #D6CDAD;
}

table th {
  padding: 10px;
  color: #CCFBFE;
  background-color: #82204A;
}

.removeButton {
  display: block;
  color: #CCFBFE;
  background-color: #82204A;
  padding: 10px;
  margin: 5px auto;
}

#announcementBannerForm {
  display: block;
  width: 75%;
  margin: 0px auto 20px auto;
}

#announcement {
  width: 100%;
  border-radius: 10px;
}

#announcementBannerForm button {
  margin: 15px auto 0 auto;
  border-radius: 10px;
}

#announcementBannerForm button:hover {
  background-color: rgb(104, 145, 182);
  cursor: pointer;
}

#passwordResetForm {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#password {
  display: block;
  width: 50%;
  margin: 0 auto;
  border-radius: 7px;
}

#passwordResetForm button {
  margin: 15px auto 0 auto;
  border-radius: 10px;
}

#passwordResetForm button:hover {
  background-color: rgb(104, 145, 182);
  cursor: pointer;
}