/* 

*** Colors and Fonts for Reference ***

Fonts:
font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

Colors:
Background - #FAF0CA - Lite Canvas
Background:2 -  #D6CDAD - Dark Canvas

Text - #231123 - Dark Brown

Dark Main - #0D3B66 -Dark Blue
Mid Main - #077187 - Mid Teal
Lite Main - #CCFBFE - Robin Blue
Highlight - #F4D35E - Yellow
Mid Highlight - #EE964B - Pale Orange
Dark Highlight - #F95738 - Bright Orange
Alt Color - #82204A - Red/Pink

*/

/* Global */

body {
  width: 960px;
  margin: 0 auto;
  color: #231123;
  background-color: #FAF0CA;
}

a {
  text-decoration: none;
  color: #F95738;
}

a:hover {
  color: #EE964B;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Header */

header {
  width: 100%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 20px;
}

#logo {
  display: inline-block;
  width: 15%;
  margin-left: 42.5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#social {
  float: right;
}

#social li {
  display: inline-block;
  padding: 10px;
}

#nav {
  display: flex;
  background-color: #D6CDAD;
}

#nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px 0;
  color: #0D3B66;
}

#nav li:hover {
  color: #077187;
  cursor: pointer;
}

#announcementBar {
  text-align: center;
  background-color: #CCFBFE;
  padding: 10px;
}

/* Main */

#main {
  display: block;
  width: 100%;
}

#aboutSection {
  /* placeholder */
}

#aboutUsTitle {
  font-size: x-large;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #D6CDAD;
}

#aboutUsText {
  width: 35%;
  display: inline-block;
  font-size: large;
  padding-right: 100px;
  padding-top: 30px;
  padding-left: 80px;
  text-indent: 25px;
}

#cask {
  display: inline-block;
  width: 420px;
  height: 280px;
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: 10px 10px #D6CDAD;
}

#party {
  font-size: x-large;
  padding-top: 60px;
  padding-bottom: 30px;
  color: rgb(177, 25, 25);
  text-shadow: 2px 1px black;
}

#haz1 {
  display: inline-block;
  width: 340px;
  height: 400px;
  padding: 25px;
  margin-left: 90px;
  border-radius: 40px;
  box-shadow: 10px 10px magenta;
}
#haz1:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#haz2 {
  display: inline-block;
  width: 340px;
  height: 400px;
  padding: 25px;
  border-radius: 40px;
  box-shadow: 10px 10px magenta;
}



#haz3 {
  display: inline-block;
  width: 340px;
  height: 400px;
  padding: 25px;
  margin-left: 90px;
  border-radius: 40px;
  box-shadow: 10px 10px magenta;
}

#haz4 {
  display: inline-block;
  width: 340px;
  height: 400px;
  padding: 25px;
  border-radius: 40px;
  box-shadow: 10px 10px magenta;
}

#beerSection {
  display: flex;
  text-align: center;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}

#toggleSwitches {
  display: inline-block;
  width: 116px;
  height: 480px;
  border: solid #82204A 3px;
  border-radius: 15px;
  padding: 25px;
  margin-right: 20px;
}

/* General Styling for the Beer Cards */

#beerCardSection {
  display: inline-block;
  width: 712px;
  height: 480px;
  border: solid #82204A 3px;
  border-radius: 15px;
  padding: 25px;
  margin-left: -4px;
}

#beerCardSection div {
  display: inline-block;
  width: 145.5px;
  height: fit-content;
  background-color: #EE964B;
  padding: 10px;
  /* margin: 20px; */
}

.backgroundImg {
  display: block;
  width: 145.5px;
  filter: invert(100%);
  }

  .saleImg {
  
  }

  #beerCardSelector h2, h3 {
    display: block;
   }

  /* #beerCardSelector h3 {
    display: block;
  } */

/* Beer Card Specific CSS */
#IPA {
  background-color: #077187;
}

#locationSection {
  /* placeholder */
}

#locationSection iframe {
  display: block;
  border: #D6CDAD solid 10px;
  width: 640px;
  height: 426.66px;
  margin: 0 auto;
}

#contactSection {
  /* placeholder */
}

#name {
  margin-left: 30.5px;
  border-radius: 7px;

}

#phone {
  /* margin-left: 159px; */
  border-radius: 7px;
  margin-top: 10px;
}

#email {
  margin-left: 4px;
  border-radius: 7px;
  margin-top: 10px;
}

#message {
  border-radius: 10px;
  margin-top: 10px;
}

#contactButton {
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 45%;
}

#contactButton:hover{
  background-color: rgb(104, 145, 182);
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#messageLabel {
  
}
#contactimg {
  height: 200px;
  width: 300px;
  float: right;
  border-radius: 30px;
}

#contactSection p {
color: #82204A;
font-family: 'Open Sans Condensed', sans-serif;
font-size: large;
width: 45%;
display: inline-block;
}

/* Footer */

footer {
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#smallLogo {
  width: 25%;
  opacity: 0.5;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li{
  display: inline-block;
  width: 33.333%;
  text-align: center;
  margin-top: 45px;
}

#smallLogoContainer {
  margin-top: 0;
}

footer p {
  text-align: center;
}

#link {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

#link:hover {
  cursor: pointer;
}

/* Admin Page */

form {
  border: solid #82204A 3px;
  border-radius: 15px;
  padding: 25px;
}

button {
  display: block;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #CCFBFE;
  color: #231123;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

#inventoryFormsContainer {
  display: flex;
  margin-bottom: 20px;
}

#beerInventoryForm {
  display: inline-block;
  width: 33.33%;
  line-height: 1.5;
  margin-right: 20px;
  max-height: 497px;
}

#beerInventoryForm input, select {
  float: right;
  border-radius: 7px;
}

#beerInventoryForm textarea {
  display: block;
  width: 90%;
  margin: 10px auto 0 auto;
  border-radius: 10px;
}

#beerInventoryForm button {
  margin: 0 auto;
  border-radius: 10px;
}

#beerInventoryForm button:hover {
  background-color: rgb(104, 145, 182);
  cursor: pointer;
}

#one, #two, #three, #four, #five, #six {
  margin-bottom: 2px;
}

#beerTypeInput {
  width: 131px;
  height: 19px;
  border-radius: 7px;
}

#inventoryTable {
  display: inline-block;
  width: 66.66%;
  border: solid #82204A 3px;
  border-radius: 15px;
  padding: 25px;
  max-width: 66.66%;
  max-height: 497px;
  overflow: scroll;
}

table {
  width: 100%;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #D6CDAD;
}

table th {
  padding: 10px;
  color: #CCFBFE;
  background-color: #82204A;
}

.removeButton {
  display: block;
  color: #CCFBFE;
  background-color: #82204A;
  padding: 10px;
  margin: 5px auto;
}

#announcementBannerForm {
  display: block;
  width: 75%;
  margin: 0px auto 20px auto;
}

#announcement {
  width: 100%;
  border-radius: 10px;
}

#announcementBannerForm button {
  margin: 15px auto 0 auto;
  border-radius: 10px;
}

#announcementBannerForm button:hover {
  background-color: rgb(104, 145, 182);
  cursor: pointer;
}

#passwordResetForm {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#password {
  display: block;
  width: 50%;
  margin: 0 auto;
  border-radius: 7px;
}

#passwordResetForm button {
  margin: 15px auto 0 auto;
  border-radius: 10px;
}

#passwordResetForm button:hover {
  background-color: rgb(104, 145, 182);
  cursor: pointer;
}

